/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/
.navbar {
    padding: 0 1.5rem;
}

.navbar[data-sticky="top"].scrolled.navbar-dark {
    background: #212529;
}

nav[data-overlay].navbar-toggled-show.navbar-dark {
    background: #212529;
    padding-bottom: 2rem;
}

.main-logo {
    border-radius: 0;
    width: 7.5rem;
    height: 7.5rem;
}

.portfolio-hero-headings {
    padding-top: 6.5rem;
}

.testimonials-hero-headings {
    padding-top: 11.5rem;
}

.hero-headings {
    padding-top: 4.5rem;
    padding-bottom: 2.5rem;
}
